name: Build DockerImage

on: workflow_dispatch

jobs:

    build-to-dockerhub:
       runs-on: self-hosted

       steps:

       - name: Code Checkout
         uses: actions/checkout@v4.1.7

       - name: Docker Login 
         uses: docker/login-action@v3.3.0
         with:
            username: ${{ secrets.DH_USERNAME }}
            password: ${{ secrets.DH_PASSWORD }}

       - name: BuildImage
         run: | 
             printenv
             docker build -t javaapp .
             docker tag javaapp:latest frankisinfotech/cohort-4-java:${GITHUB_RUN_NUMBER}
             docker push frankisinfotech/cohort-4-java:${GITHUB_RUN_NUMBER}
